<ion-header>
  <ion-toolbar mode="ios">
    <!-- <ion-buttons slot="start">
      <ion-back-button color="primary" text=""></ion-back-button>

    </ion-buttons> -->
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title>
      <div>
        <img style="width: 85px;" src="assets/imgs/logo_nyx.svg">
      </div>
    </ion-title>
    <ion-text class="ion-padding-horizontal" slot="end" color="primary" [routerLink]="['/menu']"
      routerLinkActive="router-link-active">Menü</ion-text>

  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="height: 100%;" src="assets/imgs/background.jpg">
</ion-content>
