<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background-cover">
  <div class="d-flex flex-column justify-content-center" style="height: 90%;">
    <div class="firmlogo my-4">
      <img src="/assets/imgs/logo_nyx.svg">
      <!-- <h4>Hoşgeldiniz</h4> -->
    </div>
    <div class="card p-2 mx-3">
      <form [formGroup]="signupForm">
        <ion-item mode="md">
          <ion-label position="stacked">
            Kullanıcı Adı
          </ion-label>
          <ion-input formControlName="userName"></ion-input>
        </ion-item>
        <ion-item mode="md" class="mb-4">
          <ion-label position="stacked">
            Şifre
          </ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item class="mb-3">
          <ion-label style="font-size: 16px;" position="stacked">Hatırlatma Seçenekleri</ion-label>
          <ion-select style="font-size: 14px;" okText="Seç" cancelText="İptal" placeholder="Seçiniz">
            <ion-select-option *ngFor="let reminder of reminderOptions" [value]="reminder.id">
              {{reminder.reminderInfo}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button [disabled]="signupForm.get('userName').invalid || signupForm.get('password').invalid" class="mb-3"
          expand="block" color="tertiary" (click)="login()">GİRİŞ YAP</ion-button>
        <ion-button expand="block" color="success">ÜCRETSİZ DENE</ion-button>
        <h4 class="forgot" (click)="forgotpassword()">Giriş Bilgilerimi Unuttum</h4>
      </form>
    </div>
  </div>
</ion-content>
