<ion-header>
  <ion-toolbar mode="ios">
    <!-- <ion-buttons slot="start">
      <ion-back-button color="primary" text=""></ion-back-button>

    </ion-buttons> -->
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title>
      <div>
        <img style="width: 85px" src="assets/imgs/logo_nyx.svg">
      </div>
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let menu of appPages" size="6">
        <div style="height: 160px; box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;"
          class="card d-flex flex-column align-items-center justify-content-center">
          <ion-icon color="primary" size="large" [name]="menu.icon"></ion-icon>
          <div (click)="menuDetail(menu)" class="ion-text-center">{{menu.title}}</div>
          <!-- <span>
            <ion-icon name=""></ion-icon>
          </span> -->
          <!-- <ion-accordion-group *ngIf="menu.submenu">
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>{{menu.title}}</ion-label>
              </ion-item>
              <div *ngFor="let m of menu.submenu" [routerLink]="['/m.url']" class="ion-padding" slot="content">
                {{m.subtitle}}
              </div>
            </ion-accordion>
          </ion-accordion-group> -->
          <p style="font-size: 0.9rem; color: gray;" class="ion-text-center">{{menu.description}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
