ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.headermenu {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background: linear-gradient(
    -45deg,
    rgba(85, 238, 192, 1) 0%,
    rgba(53, 154, 255, 1) 50%,
    rgba(53, 101, 255, 1) 100%
  );
  //background: linear-gradient(-45deg, #93f9bc, #55eec0, #359aff, #3565ff);
  //background-size: 300% 300%;
  //animation: gradient 11s ease infinite;
  border-radius: 0 0 10% 10%;
  padding: 35px 0;
  align-items: flex-start;
  &-left {
    margin: 0 1rem;
    background-color: #fff;
    border-radius: 100%;
    padding: 12px;
    //background-size: 300% 300%;
    h3 {
      margin: 0 !important;
      font-weight: bolder;
      font-family: auto;
      font-size: 1.8rem;
      color: #3565ff;
      //animation: color-change 11s ease infinite;
      //color: var(--ion-color-primary);
    }
  }
  &-right {
    line-height: 22px;
    .customerName {
      color: var(--ion-color-primary-contrast);
      font-weight: 600;
      font-size: 1.1rem;
    }
    p {
      color: var(--ion-color-light);
      font-size: 0.8rem;
    }
  }
}
ion-list {
  padding: 0 !important;
}
// @keyframes gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }
// @keyframes color-change {
//   100% {
//     color: #3565ff;
//   }
//   80% {
//     color: #359aff;
//   }
//   60% {
//     color: #02c998;
//   }
//   40% {
//     color: #02c998;
//   }
//   20% {
//     color: #359aff;
//   }
//   0% {
//     color: #3565ff;
//   }
// }
