<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu mode="ios" contentId="main-content" type="overlay">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Noyax Enterprise</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ion-list class="ion-no-padding" id="inbox-list">
          <!-- <ion-avatar class="ion-margin-start ios hydrated mb-2"><img alt="img" src="assets/user.jpg"></ion-avatar>
          <ion-list-header *ngIf="gid.customer.name" class="mb-2">{{gid.customer.name}} {{gid.customer.surname}}
          </ion-list-header> -->


          <div class="headermenu d-flex mb-4">
            <!-- <ion-icon style="position: absolute; right: 0; top: 0;
            --ionicon-stroke-width: 50px;
            width: 35px;
            height: 20px;" class="pt-2" color="light" size="default" slot="end" name="refresh-outline"></ion-icon> -->
            <div class="headermenu-left">
              <h3>{{customerName.charAt(0)}}</h3>
            </div>
            <div class="headermenu-right">
              <div class="customerName">
                {{customerName}}</div>
              <p style="font-size: 0.9rem !important; margin-bottom: 0 !important;">Sistem Yöneticisi</p>
              <p>(Elron Yazılım LTD. ŞTİ. 2022)</p>
            </div>
          </div>


          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="inset"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <!-- <div class="logout" [routerLink]="['/login']">Çıkış Yap</div> -->
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
